<h1>Pages#index</h1>

<h3>Personajes de harry Poter</h3>
<br>



<table class="table table-striped table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Names</th>
      <th scope="col">Locations</th>
      <th scope="col">Houses</th>
    </tr>
  </thead>
  <tbody>
  <% @Characters.each do |i| %>
    <tr>
      <th scope="row"><%= i.id %></th>
      <td><%= i.name %></td>
      <td><%= i.location %></td>
      <td><%= i.house %></td>
    </tr>
  <% end%>
  </tbody>
</table>

<!--
railway
bundle exec rails assets:precompile db:create db:migrate db:seed
-->